[Unit]
Description=Run R analysis scripts from Rachael and upload to Box

[Service]
Type=oneshot
ExecStart=/usr/local/DASHCAMS/dashcams-run-R-analysis.sh
Group=dashcams
