[Unit]
Description=Timer to run R analysis scripts from Rachael and upload to Box

[Timer]
OnCalendar=*-*-* 05:00:00

[Install]
WantedBy=timers.target
