[Unit]
Description=Download all Ornitela data from the current month

[Service]
Type=oneshot
ExecStart=/usr/local/DASHCAMS/download_month.py
Group=dashcams
