[Unit]
Description=Download all Ornitela data from the previous month

[Service]
Type=oneshot
ExecStart=/usr/local/DASHCAMS/download_month.py --month -1
ExecStartPost=/usr/local/DASHCAMS/ornitela_post_download.sh
Group=dashcams
