[Unit]
Description=Download all Ornitela data from the current month

[Service]
Type=oneshot
ExecStart=/usr/local/DASHCAMS/download_month.py
ExecStartPost=/usr/local/DASHCAMS/ornitela_post_download.sh
Group=dashcams
